@import './Fonts.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'FastHand';
  text-align: center;
  font-weight: bold;
  font-size: 3rem; /* Adjust as needed */
  padding: 0;
  margin: 0;
}

/* Info section containing the text */
.info-section {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  color: #181818;
}

/* Paragraphs with horizontal padding and centered text */
.paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 0 20px; /* Adds horizontal padding */
  margin-bottom: 15px;
  text-align: center;
  max-width: 800px; /* Limits the width for better readability */
  margin-left: auto;
  margin-right: auto;
}

.student-info{
  align-self: center;
  font-family: 'Quicksand';
}
