@import '../App.css';

.navbar {
    display: flex; /* Makes the list items align horizontally */
    list-style: none; /* Removes bullet points */
     /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.navbar li {
    margin-right: 20px; /* Adds space between the links */
}

.navbar li:last-child {
    margin-right: 0; /* Removes margin from the last item */
}

.navbar a {
    text-decoration: none; /* Removes underline from links */
    color: #1c1e2b; /* Sets the text color */
    font-family: 'Quicksand', Arial, sans-serif; /* Optional font style */
}

.navbar a:hover {
    text-decoration: underline; /* Adds underline when hovered */
}
